Appium-Unity/Library/
Appium-Unity/Temp/UnityVS_obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Appium-Unity/.vs/Appium-Unity/v14/.suo
Appium-Unity/.vs/config/applicationhost.config
Appium-Unity/Temp/
