[submodule "Appium-HCP"]
	path = Appium-HCP
	url = https://github.com/gopokyo-colinn/appium-hcp
[submodule "Appium-HCP-Driver"]
	path = Appium-HCP-Driver
	url = https://github.com/gopokyo-colinn/appium-hcp-driver
[submodule "Appium"]
	path = Appium
	url = https://github.com/gopokyo-colinn/appium
[submodule "Appium-DotNet-Driver"]
	path = Appium-DotNet-Driver
	url = https://github.com/gopokyo-colinn/appium-dotnet-driver
[submodule "Appium-Base-Driver"]
	path = Appium-Base-Driver
	url = https://github.com/gopokyo-colinn/appium-base-driver
[submodule "Requisition"]
	path = Requisition
	url = https://github.com/gopokyo-colinn/requisition
[submodule "Appium-Dot-Exe"]
	path = Appium-Dot-Exe
	url = https://github.com/gopokyo-colinn/appium-dot-exe
[submodule "Appium-Android-Driver"]
	path = Appium-Android-Driver
	url = ../../gopokyo-colinn/appium-android-driver
[submodule "Appium-Android-Bootstrap"]
	path = Appium-Android-Bootstrap
	url = ../../gopokyo-colinn/appium-android-bootstrap
[submodule "Appium-IOS-Driver"]
	path = Appium-IOS-Driver
	url = https://github.com/gopokyo-colinn/appium-ios-driver
[submodule "Selenium"]
	path = Selenium
	url = https://github.com/gopokyo-colinn/selenium
[submodule "Appium-Dot-App"]
	path = Appium-Dot-App
	url = https://github.com/gopokyo-colinn/appium-dot-app
